fastapi
uvicorn[standard]

langchain
langchain-community
langchain-chroma
chromadb
langchain-openai
openai

sqlalchemy
psycopg
python-dotenv
pydantic-settings

pypdf
python-multipart

pytest
httpx
fastmcp